@model Library_MVC.Models.AddBookToClientModel
@{
    ViewBag.Title = "AddBookToClient";
}

<h2>Add book to client: @ViewBag.ClientName </h2>

@using (Html.BeginForm("AddBookToClient", "Clients"))  // default metodot e POST (mora da se navede ako sakame drugo)
{
    <div class="form-group">
        @Html.LabelFor(m => m.BookId)
        @Html.DropDownListFor(m => m.BookId, new SelectList(Model.books, "Id", "Title"), new { @class = "form-control" })
        @Html.HiddenFor(m => m.ClientId)

    </div>
    <button type="submit" class="btn btn-default">Save</button>

}
