@{
    ViewBag.Title = "About our Library";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our library is a curated collection of sources of various information and similar resources, selected by experts and made accessible to you for reference or borrowing. We also offer a quiet environment conducive to study and read your chosen books. Feel free to make your choice from the range widely in size up to thousands of items.</p>
