@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LIBRARY</h1>
    <p class="lead">Be a part of our Library, we guarantee you will not regret it!</p>
    <p><a href="/Books" class="btn btn-primary btn-lg">Check out our books &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Join us</h2>
        <p>
            Feel free to use our library's resources to dive in more deeply in the areas that are the target of your personal interests.
        </p>
         <p><a class="btn btn-default" href="/Account/Register">Register here &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Get any information source you want for the best price</h2>
        <p>
            Reference Books.
            Newspapers (News sources).
            Magazines.
            Academic Journals (Peer-reviewed or scholarly journals).

        </p>
      <p><a class="btn btn-default" href="/Books">Learn more &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Reading rooms</h2>
        <p>Our reading rooms are a quiet and peaceful places in our library where you can read and study.</p>
          <p><a class="btn btn-default" href="/ReadingRooms">Learn more &raquo;</a></p>
    </div>
</div>